{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": ["react"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "new-cap": [2, { "capIsNewExceptions": ["List", "Map"] }],
    "semi": [2, "never"],
    "comma-dangle": [2, "never"],
    "react/prefer-stateless-function": ["off"],
    "no-constant-condition": ["off"],
    "import/no-named-as-default": ["off"],
    "react/no-unused-prop-types": [2, { skipShapeProps: true }],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
  }
}
